<!DOCTYPE html>
<html>
  <head>
    <title>Quintype Sample App</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <div class="body-container">
      <div class="layout-menu">
        <div id="replace-after-login" style="text-align: center">
          <ul>
            <li><a href="/login?auth-provider=facebook&remote-host=<%= root_url.chomp('/') %>">Login with Facebook</a></li>
          </ul>
        </div>
        <ul>
          <% @config.menu_items.each do |menu_item| %>
            <li><a href="/section/<%= menu_item.section_slug %>"><%= menu_item.title %></a></li>
          <% end %>
        </ul>
      </div>
      <div class="layout-content">
        <div id="container">
          <%= yield %>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var qtConfig = {
        cdnImage           : "<%= @config.cdn_image %>",
        pageType           : "<%= @page.try([], 'type') %>",
        storyElementMapping: <%= StoryElementMapping::TYPES.to_json.html_safe %>
      };
    </script>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
